<div layout="column" layout-fill>





<!-- BARRA SUPERIOR -->
	<div flex-item>
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>
                <div class="toolbar__right">               

                    <a href="#/"><button class="btn btn--l btn--white btn--icon" lx-ripple>
                        <i class="mdi mdi-undo sobreIcono"></i>
                    </button></a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Contenido -->

    <div flex-item="4" class="mt++">
        <span class="fs-title display-block mb"></span>

        <div class="divider divider--dark"></div>

        <ul class="list mt++">
            <li class="list-row list-row--multi-line list-row--has-separator textete">
                     <lx-thumbnail class="fotoPersonal" thumbnail-src="/images/dani.jpg" thumbnail-width="150" thumbnail-height="150"></lx-thumbnail>

                <div class="list-row__content texto">
                    <span class="fs-display-1 display-block" >Daniel Rodriguez Ventosa</span>
                    <span class="display-block fs-body-1 tc-black-2">Estudiante del grado en ingenieria de software en la Universidad Rey Juan Carlos situada en Mostoles</span>
                </div>
            </li>
            
             <li class="list-row list-row--multi-line list-row--has-separator textete2">
                     <lx-thumbnail class="fotoPersonal" thumbnail-src="/images/yoyoyo.jpg" thumbnail-width="150" thumbnail-height="150"></lx-thumbnail>

                <div class="list-row__content texto">
                    <span class="fs-display-1 display-block">David Retamal Rojas</span>
                    <span class="display-block fs-body-1 tc-black-2">Estudiante del grado en ingenieria de software en la Universidad Rey Juan Carlos situada en Mostoles</span>
                </div>
            </li>
             
             <li class="list-row list-row--multi-line list-row--has-separator textete3">
                     <lx-thumbnail class="fotoPersonal" thumbnail-src="/images/david_alto.jpg" thumbnail-width="150" thumbnail-height="150"></lx-thumbnail>

                <div class="list-row__content texto">
                    <span class="fs-display-1 display-block">David Lopez Higueras </span>
                    <span class="display-block fs-body-1 tc-black-2">Estudiante del doble grado en ingenieria de software e informatica en la Universidad Rey Juan Carlos situada en Mostoles</span>
                </div>
            </li>
            <li class="list-row list-row--multi-line list-row--has-separator textete4">
                     <lx-thumbnail class="fotoPersonal" thumbnail-src="/images/alex.jpg" thumbnail-width="150" thumbnail-height="150"></lx-thumbnail>

                <div class="list-row__content texto">
                    <span class="fs-display-1 display-block">Alejandro Garcia de Marina Martin</span>
                    <span class="display-block fs-body-1 tc-black-2">Estudiante del grado en ingenieria de software en la Universidad Rey Juan Carlos situada en Mostoles</span>
                </div>
            </li>
        </ul>
    </div>

   
</div>
</div>