<div ng-controller="adminController as vm" layout="column" layout-fill>

	<!-- BARRA SUPERIOR -->	
	
	<div flex-item style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.17);">
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>

                <div class="toolbar__right">      
					
					
                    <button class="btn btn--l btn--white btn--icon" ng-click="vm.ir('')" lx-ripple>
                        <i class="mdi mdi-undo sobreIcono"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>




	<!-- CARD -->
	<div flex-container="row" flex-gutter="24"  style="margin:auto;max-width:800px;">
	    <div flex-item >
	        <div class="card mt++" >
	            <div class="card__img card__img--top">
	                <img src="/images/identificacion.jpg" id="identification">
	                <span class="fs-headline tc-white-1 display-block"></span>
	            </div>
	
	            <lx-text-field label="Usuario" fixed-label="true" icon="account">
                	<input type="text" ng-model="vm.nombreUsuario">
            	</lx-text-field>
            	<lx-text-field label="Contrasena" fixed-label="true" icon="key-variant">
                	<input type="password" ng-model="vm.contrasena">
           		</lx-text-field>
	
	            <div class="card__actions bgc-black-1">
	                
	                <button class="btn btn--m btn--orange btn--flat botonLogin" ng-click="vm.loguear()" lx-ripple>LOGIN</button>
	            </div>
	        </div>
	    </div>
    </div>   
    
    
   
   
	
</div>