<div ng-controller="adminController as vm" layout="column" layout-fill>

	<!-- BARRA SUPERIOR -->
	<div class="toolbar bgc-grey-800 tc-white-1">
        <div class="toolbar__left mr+ ">            
                <i class="icon icon--l icon--white icon--flat mdi mdi-ticket "></i>                     
        </div>

        <span class="toolbar__label fs-title"><h1>Acceso</h1></span>
		<div class="toolbar__right mr+ " >            
               <button class="btn btn--xl btn--white btn--icon" ng-click="vm.ir('')" lx-ripple >
                        <i class="mdi mdi-undo sobreIcono"></i>
               </button>                     
        </div>
    </div>

	<!-- CARD -->
	<div flex-container="row" flex-gutter="24" id="cardIdentity">
	    <div flex-item>
	        <div class="card">
	            <div class="card__img card__img--top">
	                <img src="/images/identificacion.jpg" id="identification">
	                <span class="fs-headline tc-white-1 display-block"></span>
	            </div>
	
	            <lx-text-field label="Usuario" fixed-label="true" icon="account">
                	<input type="text" ng-model="vm.tupla.nombreUsuario">
            	</lx-text-field>
            	<lx-text-field label="Contrasena" fixed-label="true" icon="key-variant">
                	<input type="password" ng-model="vm.tupla.contrasena">
           		</lx-text-field>
	
	            <div class="card__actions bgc-black-1">
	                
	                <button class="btn btn--m btn--orange btn--flat" ng-click="vm.loguear()" lx-ripple>LOGIN</button>
	            </div>
	        </div>
	    </div>
    </div>   
    
    <h1>Prueba de que recoge bien</h1>
    {{vm.nombreUsuario}}<br>
    {{vm.tupla.nombreUsuario}} <br>
    {{vm.tupla.contrasena}}<br>
   
	
</div>