<div ng-controller="localController as vm" layout="column" layout-fill>





	<!-- BARRA SUPERIOR -->
	<div flex-item>
		<div class="card bgc-indigo-500">
			<div class="toolbar">
				<span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>

				<div class="toolbar__right">
					<lx-search-filter class="sobreIcono" model="searchFilter.sixth" position="right" theme="dark" closed placeholder="Busqueda"></lx-search-filter>

					<button class="btn btn--l btn--white btn--icon" ng-click="vm.volver()"lx-ripple>
                        <i class="mdi mdi-undo sobreIcono"></i>
                    </button>
				</div>
			</div>
		</div>
	</div>


<!-- BARRA INFERIOR -->
	<div style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.07);background-color:white;">	
			<lx-dropdown>
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Categoria: </span>{{vm.objetivoBusqueda}}
			    </button>		
			    <lx-dropdown-menu>
					<ul>
						<li><a class="dropdown-link" ng-click="vm.busqueda('Todos')">TODOS</a></li> 
			        	<li class="dropdown-divider"></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Pubs')">PUBS</a></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Restaurantes')">RESTAURANTES</a></li> 
			            <li class="dropdown-divider"></li>
			            <li><span class="dropdown-link dropdown-link--is-header">Otras categorias</span></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Otros')">Otros</a></li>
					</ul>
				</lx-dropdown-menu> 
			</lx-dropdown>

	</div>


	<!-- TABLA -->

	<div flex-container="row" flex-gutter="24">
	
     <div flex-item   ng-repeat="local in vm.locals"
					ng-click="vm.opendDialog('test',local)">
        <div class="card">
            <div flex-container="row">
                <div class="card__img card__img--left" style="height: 160px">
                    <img src="/images/{{local.photo}}">
                </div>

                <div flex-item flex-container="column">
                    <div flex-item>
                        <div class="p++">
                            <strong class="fs-headline display-block">{{local.name}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- DIALOG -->	
	<lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="vm.closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header" >
        <div class="bgc-blue-grey-500 pl pt pb">      	    
          	<span class="fs-display-2 display-block tc-white">{{vm.namelocal}}</span>             
        </div>         
    </div>

    <div class="dialog__content">
    	<div class="tc-white-1" flex-container="row">
		    <div flex-item="4" flex-item-order="1">
		    	<div class="p">
		    		<img ng-src="/images/{{vm.image}}" width=100% height=100%>
		    	</div>
		    </div>
		    <div flex-item="8" flex-item-order="2">
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Numero de estrellas</span>
		    		<span class="fs-display-0.2 display-block">{{vm.star}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Direccion</span>
		    		<span class="fs-display-0.2 display-block">{{vm.direc}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Comida</span>
		    		<span class="fs-display-0.2 display-block">{{vm.food}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Provincia</span>
		    		<span class="fs-display-0.5 display-block">{{vm.prov}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Hora de servicio</span>
		    		<span class="fs-display-0.5 display-block">De {{vm.open}} a {{vm.close}} minutos</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Capacidad del local</span>
		    		<span class="fs-display-0.5 display-block">{{vm.capac}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Tipo de local</span>
		    		<span class="fs-display-0.5 display-block">{{vm.type}}</span>
		    	</div>
		    	<div class="p+ bgc-red-300">
		    		<span class="fs-subhead display-block">Precio medio del servicio</span>
		    		<span class="fs-display-0.5 display-block">{{vm.price}}</span>
		    	</div>
		    </div>		    
		</div>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--m btn--black btn--flat" lx-ripple>Funcionalidad</button>
    </div>
</lx-dialog>


</div>