<div ng-controller="panelAdministracionController as vm" layout="column" layout-fill>

<!-- BARRA SUPERIOR -->
	<div flex-item style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.17);">
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50> Administracion</span>
				
                <div class="toolbar__right">					
                    <button class="btn btn--l btn--white btn--icon sobreIconoRojo" ng-click="vm.desconectar()"lx-ripple>
                        <i class="mdi mdi-close-circle-outline sobreIconoRojo"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
<!-- BARRA INFERIOR -->
	<div style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.07);background-color:white-silver;">	
			
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Videojuegos</span>
			    </button>	
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Libros</span>
			    </button>	
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Peliculas</span>
			    </button>	
				<button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Parques Tematicos</span>
			    </button>
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Ocio Locales</span>
			    </button>	
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Aventura</span>
			    </button>	
	</div>	
	
	<div class="data-table-container">
		    <table class="data-table data-table--has-primary ">

		
		        <tbody>		        	    
		            <tr  class="data-table__clickable-row" ng-repeat="book in vm.books ">
		              	
			                <td>			                   	                    
			                    <lx-thumbnail thumbnail-src="/images/{{book.image}}" thumbnail-width="60" thumbnail-height="60"></lx-thumbnail>
			                </td>
			                <td>
			                    <span>{{book.genre}}</span>
			                </td>
			                <td>
			                    <span>{{book.title}}</span>
			                </td>
			                <td>
			                    <span>{{book.writer}}</span>
			                </td>		                
		            </tr>		
		            
		            
		           
		        </tbody>
		    </table>
		</div>
	

	
   
</div>

	