<div ng-controller="parkController as vm" layout="column" layout-fill>





<!-- BARRA SUPERIOR -->
	<div flex-item style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.17);">
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>

                <div class="toolbar__right">
                    <lx-search-filter class="sobreIcono" model="searchFilter.sixth" position="right" theme="dark" closed placeholder="Busqueda"></lx-search-filter>
					<button class="btn btn--l btn--white btn--icon" lx-ripple>
                        <i class="mdi mdi-lightbulb sobreIcono"></i>
                    </button>
					
                    <button class="btn btn--l btn--white btn--icon" ng-click="vm.volver()"lx-ripple>
                        <i class="mdi mdi-undo sobreIcono"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
<!-- BARRA INFERIOR -->
	<div style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.07);background-color:white-silver;">	
			<lx-dropdown>
			    <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Categoria: </span>{{vm.objetivoBusqueda}}
			    </button>		
			    <lx-dropdown-menu>
			        <ul>
			        	<li><a class="dropdown-link" ng-click="vm.busqueda('Todos')">TODOS</a></li> 
			        	<li class="dropdown-divider"></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Acuaticos')">Acuaticos</a></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Tematicos')">Tematicos</a></li> 
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Atracciones')">Atracciones</a></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Safaris')">Safaris</a></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Zoologicos')">Zoologicos</a></li>
			            <li class="dropdown-divider"></li>
			            <li><span class="dropdown-link dropdown-link--is-header">Otras categorias</span></li>
			            <li><a class="dropdown-link" ng-click="vm.busqueda('Otros')">Otros</a></li>
			        </ul>
			    </lx-dropdown-menu>
			</lx-dropdown>
	
	</div>
	
	
	<!-- TABLA -->
	
<!-- <div ng-repeat="park in vm.parks | orderBy: vm.ordenadoPor"  ng-click="vm.opendDialog('test',park)" ng-show="park.kind_park==vm.objetivoBusqueda || vm.objetivoBusqueda=='Todos'"> -->
	
	
		<div flex-container="row" flex-gutter="24">
	     <div flex-item   ng-repeat="park in vm.parks | orderBy: vm.ordenadoPor"  ng-click="vm.opendDialog('test',park)" ng-show="park.kind_park==vm.objetivoBusqueda || vm.objetivoBusqueda=='Todos'" class="cards">
	        <div class="card">
	            <div flex-container="row">
	                <div class="card__img card__img--left" style="height: 160px">
	                    <img src="/images/{{park.image_park}}">
	                </div>
	
	                <div flex-item flex-container="column">
	                    <div flex-item>
	                        <div class="p++">
	                            <strong class="fs-headline display-block">{{park.name_park}}</strong>
	                            <strong class="fs-headline display-block">Direccion: {{park.address_park}}</strong>
	                            <strong class="fs-headline display-block">Provincia: {{park.province_park}}</strong>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>	
    </div>
    
<!-- DIALOG -->	
	<lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="vm.closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header" >
        <div class="bgc-blue-grey-500 pl pt pb">      	    
          	<span class="fs-display-2 display-block tc-white">{{vm.nombreSelec}}</span>             
        </div>         
    </div>

    <div class="dialog__content">
    	<div class="tc-white-1" flex-container="row">
		    <div flex-item="4" flex-item-order="1">
		    	<div class="p">
		    		<img ng-src="/images/{{vm.imagenSelec}}" width=100% height=100%>
		    	</div>
		    </div>
		    <div flex-item="8" flex-item-order="2">
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Descripcion</span>
		    		<span class="fs-display-0.2 display-block">{{vm.descripcionSelec}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Tipo</span>
		    		<span class="fs-display-0.5 display-block">{{vm.kindSelec}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Direccion</span>
		    		<span class="fs-display-0.2 display-block">{{vm.direccionSelec}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Provincia</span>
		    		<span class="fs-display-0.5 display-block">{{vm.provinciaSelec}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Hora de servicio</span>
		    		<span class="fs-display-0.5 display-block">De {{vm.horaAperturaSelec}} a {{vm.horaCierreSelec}} horas</span>
		    	</div>
		    	<div class="p+ bgc-red-300">
		    		<span class="fs-subhead display-block">Precio entrada</span>
		    		<span class="fs-display-0.5 display-block">{{vm.priceSelec}}</span>
		    	</div>
		    	<div class="p+ bgc-red-300">
		    		<span class="fs-subhead display-block">Cheque descuento</span>
		    		<span class="fs-display-0.5 display-block">{{vm.checkSelec}}</span>
		    	</div>		    	
		    </div>		    
		</div>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Cerrar</button>       
    </div>
</lx-dialog>
   
</div>