<div ng-controller="movieController as vm" layout="column"
	layout-fill>





	<!-- BARRA SUPERIOR -->
	<div flex-item>
		<div class="card bgc-indigo-500">
			<div class="toolbar">
				<span class="toolbar__label fs-title tc-white-1 ml"><img
					src="/images/dawlogo.png" height=50></span>

				<div class="toolbar__right">
					

					<button class="btn btn--l btn--white btn--icon" ng-click="vm.volver()"lx-ripple>
                        <i class="mdi mdi-undo sobreIcono"></i>
                    </button>
				</div>
			</div>
		</div>
	</div>

	<!-- BARRA INFERIOR -->
	<div
		style="box-shadow: 0px 4px 6px 1px rgba(119, 119, 119, 0.17); background-color: white-silver;">
		<lx-dropdown>
		<button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dropdown-toggle>
			        <span style="font-weight:bold">Categoria: </span>{{vm.objetivoBusqueda}}
			    </button>
		<lx-dropdown-menu>
		<ul>
			<li><a class="dropdown-link" ng-click="vm.busqueda('Todos')">Todos</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-link" ng-click="vm.busqueda('DRAMA')">DRAMA</a></li>
			<li><a class="dropdown-link" ng-click="vm.busqueda('ACCION')">ACCION</a></li>
			<li><a class="dropdown-link" ng-click="vm.busqueda('TERROR')">TERROR</a></li>
			<li><a class="dropdown-link" ng-click="vm.busqueda('COMEDIA')">COMEDIA</a></li>
		</ul>
		</lx-dropdown-menu> </lx-dropdown>

	</div>


	<!-- TABLA -->
	<div flex-item>
        <div class="card cards" ng-repeat="movie in vm.movies | orderBy:vm.ordenadoPor"
					ng-click="vm.opendDialog('test',movie)" ng-show="movie.type == vm.objetivoBusqueda || vm.objetivoBusqueda == 'Todos'">
			<div class="card__img card__img--left photocard" style="height: 160px;width:100%">
                    <img src="/images/{{movie.photo}}">
                    
                </div>
            <div flex-container="row">
                

                <div flex-item flex-container="column">
                    <div flex-item>
                        <div class="p+">
                        <span class="fs-headline tc-silver-1 display-block">{{movie.title}}</span>
                             <span class="fs-subhead tc-black-2 display-block">Dirigida por {{movie.director}}</span>
                             <span class="fs-subhead tc-black-2 display-block">Duracion: {{movie.duration}} minutos</span>
                             <span class="fs-subhead tc-black-2 display-block">Tipo: {{movie.type}}</span>
          
                        </div>
                    </div>

                    <div class="paragraph fs-body-1">
                   
                </div>
                </div>
            </div>
        </div>
    </div>

	<!-- DIALOG -->	
	<lx-dialog class="dialog dialog--l" id="test" auto-close="true" onclose="vm.closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header" >
        <div class="bgc-blue-grey-500 pl pt pb">      	    
          	<span class="fs-display-2 display-block tc-white">{{vm.namemovie}}</span>             
        </div>         
    </div>

    <div class="dialog__content">
    	<div class="tc-white-1" flex-container="row">
		    <div flex-item="4" flex-item-order="1">
		    	<div class="p">
		    		<img ng-src="/images/{{vm.movieimage}}" width=100% height=100%>
		    	</div>
		    	<div id="positivo" class="p+ tc-green-200 tituloTablaAdmin" ng-hide="{{vm.recomendado}} < 0" >
		    	<img ng-src="/images/recomendado.png" width=200 height=200 style="margin:auto;">
		    		<span class="fs-subhead display-block ">RECOMENDADO</span>		    		
		    	</div>
		    	<div id="negativo" class="p+ tc-red-300 tituloTablaAdmin"  ng-hide="{{vm.recomendado}} >= 0">	
		    	<img ng-src="/images/norecomendado.png" width=200 height=200 style="margin:auto;">	    		
		    		<span class="fs-subhead display-block">NO RECOMENDADO</span>		    		
		    	</div>
		    </div>
		    <div flex-item="8" flex-item-order="2">
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Tipo</span>
		    		<span class="fs-display-0.5 display-block">{{vm.type_movie}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Dirigida por</span>
		    		<span class="fs-display-0.5 display-block">{{vm.direct}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Actor principal</span>
		    		<span class="fs-display-0.5 display-block">{{vm.actor}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Produccion</span>
		    		<span class="fs-display-0.5 display-block">{{vm.product}}</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Duracion</span>
		    		<span class="fs-display-0.5 display-block"> {{vm.dur}} minutos</span>
		    	</div>
		    	<div class="p+ bgc-blue-grey-300">
		    		<span class="fs-subhead display-block">Descripcion</span>
		    		<span class="fs-display-0.5 display-block">{{vm.description}}</span>
		    	</div>
		    	<div class="p+ bgc-red-300">
		    		<span class="fs-subhead display-block">Trailer</span>
		    		
		    		<iframe   ng-src="{{vm.trailer}}" frameborder="0" ></iframe>
		    		
		    	</div>
		    </div>		    
		</div>
    
    
    
    	
        
    </div>

    <div class="dialog__actions">
    	<button class="btn btn--m btn--black btn--flat botonCategoria bVerde" ng-click="vm.votarPositivo()" lx-ripple lx-dialog-close>Recomendado <i class="mdi mdi-thumb-up sobreIcono" style="margin-top:5px;"></i></button>
    	<button class="btn btn--m btn--black btn--flat botonCategoria bRojo" ng-click="vm.votarNegativo()" lx-ripple lx-dialog-close>No Recomendado <i class="mdi mdi-thumb-down sobreIcono" style="margin-top:5px;"></i></button>
        <button class="btn btn--m btn--black btn--flat botonCategoria" lx-ripple lx-dialog-close>Cerrar</button>
    </div>
</lx-dialog>


</div>
