<div ng-controller="promocionateController as vm" layout="column" layout-fill>

<!-- BARRA SUPERIOR -->
	<div flex-item>
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>
                <div class="toolbar__right mr+ " > 
                	<button class="btn btn--l btn--white btn--icon" ng-click="vm.ir('')" lx-ripple>           
               			<i class="icon icon--l icon--white icon--flat mdi mdi-undo " ></i>  
               		</button>                   
                    <button class="btn btn--l btn--white btn--icon" ng-click="vm.ir('admin')" lx-ripple>
                        <i class="mdi mdi-account"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
<!-- Formulario de promoción -->
<div flex-container="row">
    <div flex-item>
        <lx-text-field label="Company" disabled="true">
            <input type="text" ng-model="textFields.disabled" ng-disabled="true">
        </lx-text-field>
    </div>
</div>


<div flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-text-field label="Email" error="!emailValidation(textFields.firstEmail)">
            <input type="email" ng-model="textFields.firstEmail">
        </lx-text-field>
    </div>

    <div flex-item>
        <lx-text-field label="Email" error="!emailValidation(textFields.secondEmail)">
            <input type="email" ng-model="textFields.secondEmail">
        </lx-text-field>
    </div>

    <div flex-item>
        <lx-text-field label="Repeat previous email"
                       valid="emailValidation(textFields.secondEmail) && textFields.secondEmail === textFields.thirdEmail"
                       error="!emailValidation(textFields.secondEmail) || textFields.secondEmail !== textFields.thirdEmail">
            <input type="email" ng-model="textFields.thirdEmail">
        </lx-text-field>
    </div>
</div>