<div ng-controller="promocionateController as vm" layout="column"
	layout-fill>

	<!-- BARRA SUPERIOR -->
	<div flex-item>
		<div class="card bgc-indigo-500">
			<div class="toolbar">
				<span class="toolbar__label fs-title tc-white-1 ml"><img
					src="/images/dawlogo.png" height=50></span>
				<div class="toolbar__right mr+ ">
					<button class="btn btn--l btn--white btn--icon"
						ng-click="vm.volver()" lx-ripple>
						<i
							class="icon icon--l icon--white icon--flat mdi mdi-undo sobreIcono "></i>
					</button>
					<button class="btn btn--l btn--white btn--icon"
						ng-click="vm.ir('admin')" lx-ripple>
						<i class="mdi mdi-account sobreIcono"></i>
					</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Formulario de promoción -->
	<div flex-container="row">
		<div flex-item>
			<lx-text-field label="Contacto" disabled="true"> <input
				type="text" ng-model="textFields.disabled" ng-disabled="true">
			</lx-text-field>
		</div>
	</div>


	<div flex-container="row" flex-gutter="24">

		<div flex-item>
			<lx-text-field label="Email"
				error="!emailValidation(textFields.secondEmail)"> <input
				type="email" ng-model="textFields.secondEmail"> </lx-text-field>
		</div>

		<div flex-item>
			<lx-text-field label="Repeat previous email"
				valid="emailValidation(textFields.secondEmail) && textFields.secondEmail === textFields.thirdEmail"
				error="!emailValidation(textFields.secondEmail) || textFields.secondEmail !== textFields.thirdEmail">
			<input type="email" ng-model="textFields.thirdEmail"> </lx-text-field>
		</div>
	</div>
	<div flex-container="row">
		<div flex-item>
			<lx-text-field label="Datos promoción" disabled="true">
			<input type="text" ng-model="textFields.disabled" ng-disabled="true">
			</lx-text-field>
		</div>
	</div>
	<div class="card mt++">
		<lx-tabs indicator="green-200" active-tab="1" layout="inline">
		<lx-tab heading="Libro">
		<form action="vm.addRequest(vm.newRequest)">
			<div flex-item>
				<lx-text-field label="Título"> <input type="text"
					ng-model="vm.newRequest.title"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Escritor"> <input type="text"
					ng-model="vm.newRequest.writter"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Editorial"> <input type="text"
					ng-model="vm.newRequest.publisher"> </lx-text-field>
			</div>
			<div flex-item>
				Género:
				<div class="radio-group">
					<div class="radio-button">
						<input type="radio" id="radio1" name="radio1" value="1"
							class="radio-button__input"> <label for="radio1"
							class="radio-button__label">Terror</label>
					</div>

					<div class="radio-button">
						<input type="radio" id="radio2" name="radio1" value="2"
							class="radio-button__input"> <label for="radio2"
							class="radio-button__label">Misterio</label>
					</div>

					<div class="radio-button">
						<input type="radio" id="radio3" name="radio1" value="3"
							class="radio-button__input"> <label for="radio3"
							class="radio-button__label">Novela Negra</label>
					</div>

					<div class="radio-button">
						<input type="radio" id="radio4" name="radio1" value="4"
							class="radio-button__input"> <label for="radio4"
							class="radio-button__label">Humanístico</label>
					</div>
					<div class="radio-button">
						<input type="radio" id="radio5" name="radio1" value="5"
							class="radio-button__input"> <label for="radio5"
							class="radio-button__label">Juvenil</label>
					</div>
					<div class="radio-button">
						<input type="radio" id="radio6" name="radio1" value="6"
							class="radio-button__input"> <label for="radio6"
							class="radio-button__label">Poesía</label>
					</div>
					<div class="radio-button">
						<input type="radio" id="radio7" name="radio1" value="7"
							class="radio-button__input"> <label for="radio7"
							class="radio-button__label">Fantástico</label>
					</div>
					<div class="radio-button">
						<input type="radio" id="radio8" name="radio1" value="8"
							class="radio-button__input"> <label for="radio8"
							class="radio-button__label">Otro</label>
					</div>
				</div>
			</div>

			<div flex-item>
				<lx-text-field label="Sinopsis"> <input type="text"
					ng-model="vm.newRequest.synopsis"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="isbn"> <input type="text"
					ng-model="vm.newRequest.isbn"> </lx-text-field>
			</div>
			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>


		</lx-tab> <lx-tab heading="Película">
		<form action="vm.addRequest(vm.newRequest)">
			<div flex-item>
				<lx-text-field label="Título"> <input type="text"
					ng-model="vm.newRequest.title"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Actor principal"> <input
					type="text" ng-model="vm.newRequest.leadingActor"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Productora"> <input
					type="text" ng-model="vm.newRequest.production"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Duración en minutos"> <input
					type="text" ng-model="vm.newRequest.duration"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Argumento"> <input type="text"
					ng-model="vm.newRequest.description"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Url del trailer"> <input
					type="text" ng-model="vm.newRequest.trailer"> </lx-text-field>
			</div>
			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>
		</lx-tab> <lx-tab heading="VideoJuego">
		<form action="vm.addRequest(vm.newRequest)">
			<div flex-item>
				<lx-text-field label="Nombre"> <input type="text"
					ng-model="vm.newRequest.name"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Desarrollador"> <input
					type="text" ng-model="vm.newRequest.development"> </lx-text-field>
			</div>

			<div flex-item>
				Plataforma:
				<div class="checkbox">
					<input type="checkbox" id="checkbox1" class="checkbox__input">
					<label for="checkbox1" class="checkbox__label">PC</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" id="checkbox2" class="checkbox__input">
					<label for="checkbox2" class="checkbox__label">PlayStation</label>
				</div>

				<div class="checkbox">
					<input type="checkbox" id="checkbox3" class="checkbox__input">
					<label for="checkbox3" class="checkbox__label">XBOX</label>
				</div>

				<div class="checkbox">
					<input type="checkbox" id="checkbox4" class="checkbox__input">
					<label for="checkbox4" class="checkbox__label">Nintendo</label>
				</div>
			</div>

			<div flex-item>
				<lx-text-field label="Distribuidor"> <input
					type="text" ng-model="vm.newRequest.publisher"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Edad recomendada"> <input
					type="text" ng-model="vm.newRequest.pegi_age"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Categoría> <input
					type="
					text" ng-model="vm.newRequest.category"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Descripción"> <input
					type="text" ng-model="vm.newRequest.description"> </lx-text-field>
			</div>

			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>

		</lx-tab> <lx-tab heading="Parques temáticos">
		<form action="vm.addRequest(vm.newRequest)">
			<div flex-item>
				<lx-text-field label="Nombre"> <input type="text"
					ng-model="vm.newRequest.name"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Descripción"> <input
					type="text" ng-model="vm.newRequest.description"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-select class="ml+" ng-model="vm.newRequest.province" placeholder="Provincia"> <input
					choices="vm.provinces"  floating-label>
					<lx-select-selected>
					{{$selected}}
					</lx-select-selected>
					<lx-select-choices>
					{{$choice}}
					</lx-select-choices>
					</lx-select>
		
			</div>
			<div flex-item>
				<lx-text-field label="Dirección"> <input type="text"
					ng-model="vm.newRequest.address"> </lx-text-field>
			</div>
	
			<div flex-item>
				<lx-text-field label="Hora de apertura HH:MM"> <input
					type="text" ng-model="vm.newRequest.open_time"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Hora de cierre HH:MM"> <input
					type="text" ng-model="vm.newRequest.close_time"> </lx-text-field>
			</div>
			
			<div flex-item>
				<lx-text-field label="Precio €"> <input type="text"
					ng-model="vm.newRequest.price"> </lx-text-field>
			</div>
			<div flex-item>
				<div class="switch">
					<input type="checkbox" id="switch1" class="switch__input">
					<label for="switch1" class="switch__label">Family check</label>
				</div>
			</div>
			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>
		
		</lx-tab> <lx-tab heading="Aventura y Riesgo">
	<form action="vm.addRequest(vm.newRequest)">
			
			<div flex-item>
				<lx-text-field label="Nombre"> <input type="text"
					ng-model="vm.newRequest.name"> </lx-text-field>
			</div>


			
			<div flex-item>
				<lx-text-field label="Descripción"> <input
					type="text" ng-model="vm.newRequest.description"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Edad recomendada"> <input
					type="text" ng-model="vm.newRequest.age_recomended"> </lx-text-field>
			</div>
			
			<div flex-item>
				<lx-text-field label="Dirección"> <input
					type="text" ng-model="vm.newRequest.address"> </lx-text-field>
			</div>
			
		<div flex-item>
				<lx-select class="ml+" ng-model="vm.newRequest.province" placeholder="Provincia"> <input
					choices="vm.provinces"  floating-label>
					<lx-select-selected>
					{{$selected}}
					</lx-select-selected>
					<lx-select-choices>
					{{$choice}}
					</lx-select-choices>
					</lx-select>
		
			</div>
		
			<div flex-item>
				<lx-text-field label="Precio"> <input
					type="text" ng-model="vm.newRequest.price"> </lx-text-field>
			</div>
		
				<div flex-item>
				<div class="switch">
					<input type="checkbox" id="switch1" class="switch__input">
					<label for="switch1" class="switch__label">Riesgo</label>
				</div>
			</div>

			

			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>
		</lx-tab> <lx-tab heading="Local">
		<form action="vm.addRequest(vm.newRequest)">
			
			<div flex-item>
				<lx-text-field label="Nombre"> <input type="text"
					ng-model="vm.newRequest.name"> </lx-text-field>
			</div>

	<div flex-item>
				Tipo:
				<div class="radio-group">
					<div class="radio-button">
						<input type="radio" id="radio1" name="radio1" value="1"
							class="radio-button__input"> <label for="radio1"
							class="radio-button__label">Restaurante</label>
					</div>

					<div class="radio-button">
						<input type="radio" id="radio2" name="radio1" value="2"
							class="radio-button__input"> <label for="radio2"
							class="radio-button__label">Pub</label>
					</div>

					<div class="radio-button">
						<input type="radio" id="radio3" name="radio1" value="3"
							class="radio-button__input"> <label for="radio3"
							class="radio-button__label">Discoteca</label>
					</div>
				</div>
			</div>

			<div flex-item>
				<lx-text-field label="Descripción"> <input type="text"
					ng-model="vm.newRequest.description"> </lx-text-field>
			</div>
			
			<div flex-item>
				<lx-text-field label="Estrellas"> <input
					type="text" ng-model="vm.newRequest.star"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Dirección"> <input
					type="text" ng-model="vm.newRequest.address"> </lx-text-field>
			</div>
		<div flex-item>
				<lx-select class="ml+" ng-model="vm.newRequest.province" placeholder="Provincia"> <input
					choices="vm.provinces"  floating-label>
					<lx-select-selected>
					{{$selected}}
					</lx-select-selected>
					<lx-select-choices>
					{{$choice}}
					</lx-select-choices>
					</lx-select>
		
			</div>

			<div flex-item>
				<lx-text-field label="Precio medio"> <input
					type="text" ng-model="vm.newRequest.price"> </lx-text-field>
			</div>
			
		
			
			<div flex-item>
				<lx-text-field label="Capacidad"> <input
					type="text" ng-model="vm.newRequest.capacity"> </lx-text-field>
			</div>
			
			<div flex-item>
				<lx-text-field label="Hora de apertura HH:MM"> <input
					type="text" ng-model="vm.newRequest.open_time"> </lx-text-field>
			</div>

			<div flex-item>
				<lx-text-field label="Hora de cierre HH:MM"> <input
					type="text" ng-model="vm.newRequest.close_time"> </lx-text-field>
			</div>
			
			<button class="btn btn--m btn--blue btn--raised" lx-ripple
				type="submit">Enviar Petición</button>

		</form>
		</lx-tab> </lx-tabs>
	</div>

</div>