<div ng-controller="bookController as vm" layout="column" layout-fill>





<!-- BARRA SUPERIOR -->
	<div flex-item>
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>
                <div class="toolbar__right">
                <a href="#/promocionate" ><button class="btn btn--m btn--blue btn--raised" lx-ripple>Promocionate</button></a>
                    <lx-search-filter model="searchFilter.sixth" position="right" theme="dark" closed placeholder="Busqueda"></lx-search-filter>

                    <button class="btn btn--l btn--white btn--icon" lx-ripple>
                        <a href="#/admin" ><i class="mdi mdi-account"></i></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tc-white-1" flex-container="row">

	 	<div flex-item="4" flex-item-order="1"><a href="#/videojuegos" ><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/videoj.jpg);background-size:100% 100%;"></div></div></a>
	    <div flex-item="4" flex-item-order="2"><a href="#/libros" ><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/libr.jpg);background-size:100% 100%;""></div></div></a>
	    <div flex-item="4" flex-item-order="3"><a href="#/movies" ><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/peliculas.jpg);background-size:100% 100%;""></div></div></a>

	</div>
		
    
    <div class="tc-white-1" flex-container="row">

	    <div flex-item="4" flex-item-order="1"><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/parques.jpg);background-size:100% 100%;"></div></div>
	    <div flex-item="4" flex-item-order="2"><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/local.jpg);background-size:100% 100%;""></div></div>
	    <div flex-item="4" flex-item-order="3"><div class="p+++ bgc-white panelSeccion" style="height:200px;background-image:url(../images/riesgo.jpg);background-size:100% 100%;""></div></div>

	</div>
    
    
   <!--   
    <div class="card">
    <lx-tabs>
        <lx-tab heading="INDOOR">
            <div>
    <button class="btn btn--m btn--blue btn--raised" lx-ripple>Libros</button>
    <button class="btn btn--m btn--green btn--raised" lx-ripple>Peliculas</button>
    <button class="btn btn--m btn--orange btn--raised" lx-ripple>Videojuegos</button>
    </div>
        </lx-tab>

        <lx-tab heading="OUTDOOR">
                  <div>
    <button class="btn btn--m btn--blue btn--raised" lx-ripple>Locales</button>
    <button class="btn btn--m btn--green btn--raised" lx-ripple>Actividades al aire libre</button>
    <button class="btn btn--m btn--orange btn--raised" lx-ripple>Parques tematicos</button>
    </div>
       </lx-tab>
</lx-tabs>
</div>
{{vm.books}} 

-->
</div>

	

