<div ng-controller="cinemaController as vm" layout="column" layout-fill>

	<!-- BARRA SUPERIOR -->
	<div class="toolbar bgc-grey-800 tc-white-1">
        <div class="toolbar__left mr+ ">            
                <i class="icon icon--l icon--white icon--flat mdi mdi-ticket "></i>                     
        </div>

        <span class="toolbar__label fs-title"><h1>DawKine</h1></span>
		<div class="toolbar__right mr+ " >            
                <a ng-href="#/acceso"><i class="icon icon--l icon--white icon--flat mdi mdi-ticket-account " ></i> </a>                   
        </div>
    </div>

	<!-- CARD -->
	<div flex-container="row" flex-gutter="24" id="welcomeCard">
	    <div flex-item>
	        <div class="card">
	            <div class="card__img card__img--top">
	                <img src="/images/cine.jpg" id="imageCinema">
	                <span class="fs-headline tc-white-1 display-block">DawKine</span>
	            </div>
	
	            <div class="p+">
	                <span class="fs-subhead tc-black-2 display-block">Selecciona tu cine</span>
	
	                <div class="paragraph fs-body-1">
				    	<div flex-item>
					        <lx-select ng-model="vm.cinema_selected" placeholder="Elige tu cine" choices="vm.cinemas" floating-label>
					            <lx-select-selected>
					                {{ $selected.name}} 
					            </lx-select-selected>
					            
					            <lx-select-choices>
					                <span ng-repeat="cinema in vm.cinemas">
										<span> {{cinema.name}} </span>				
									</span>	
					            </lx-select-choices>
					        </lx-select>
				    	</div>
	                </div>
	            </div>
	
	            <div class="card__actions bgc-black-1">	               
	                <button class="btn btn--m btn--white btn--flat " ng-click="vm.acceder(vm.cinema_selected.id)" lx-ripple>Acceder</button>
	            </div>	            
	        </div>
	    </div>
    </div>   
	
	<!-- FIN CARD -->
	
	<!-- <h1>PROBANDO</h1>
	<div flex-container="row" flex-gutter="24">
	    <div flex-item>
	        <lx-select ng-model="selects.selectedPerson" placeholder="Elige tu cine" choices="vm.cinemas" floating-label>
	            <lx-select-selected>
	                {{ $selected.name}} 
	            </lx-select-selected>
	            
	            <lx-select-choices>
	                <span ng-repeat="cinema in vm.cinemas">
						<span> {{cinema.name}} </span>				
					</span>	
	            </lx-select-choices>
	        </lx-select>
	    </div>
	    
	</div>
	<br>
	<h1>PARTE DE REPEAT DE CINES</h1>
	<p ng-repeat="cinema in vm.cinemas">
		<br><span> Nombre cine: {{cinema.name}} </span><br>
	</p>	 -->
</div>