<div ng-controller="bookController as vm" layout="column" layout-fill>





	<!-- BARRA SUPERIOR -->
	<div flex-item>
        <div class="card bgc-indigo-500">
            <div class="toolbar">
                <span class="toolbar__label fs-title tc-white-1 ml"><img src="/images/dawlogo.png" height=50></span>

                <div class="toolbar__right">
                    <lx-search-filter model="searchFilter.sixth" position="right" theme="dark" closed placeholder="Search"></lx-search-filter>

                    <button class="btn btn--l btn--white btn--icon" lx-ripple>
                        <i class="mdi mdi-apps"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
	    <lx-tabs>
	        <lx-tab heading="INDOOR">
	            <p class="p+">INDOOR</p>
	        </lx-tab>
	
	        <lx-tab heading="OUTDOOR">
	            <p class="p+">OUTDOOR</p>
	        </lx-tab>
		</lx-tabs>
	</div>
	{{vm.book}} 

</div>