<!DOCTYPE html>
<html>
<head>
	<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
	
	
	
	<!-- lumX -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
		<link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
		<link rel="stylesheet" href="./css/styles.css">
		
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/velocity/velocity.js"></script>
		<script src="bower_components/moment/min/moment-with-locales.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/lumx/dist/lumx.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
		
	<!-- lumX -->
	
	<script src="./app/app.js"></script>
		
	<script src="./app/routeconfig.js"></script>			
	<script src="./app/bookController.js"></script>
	<script src="./app/bookService.js"></script>
	<script src="./app/videogameController.js"></script>
	<script src="./app/videogameService.js"></script>
	<script src="./app/movieController.js"></script>
	<script src="./app/movieService.js"></script>

	
</head>
<body ng-app="app">
	<div ng-view ></div>
	
	
<!-- 	<div class="toolbar bgc-light-blue-600 tc-white-1">
        <div class="toolbar__left mr+ ">            
                <i class="icon icon--l icon--white icon--flat mdi mdi-gamepad-variant "></i>                     
        </div>

        <span class="toolbar__label fs-title"><h1>DawKine</h1></span>
		<div class="toolbar__right mr+ " >            
                <i class="icon icon--l icon--white icon--flat mdi mdi-backup-restore " ></i>                     
        </div>
    </div>	
--!>
<!-- <div class="content bgc-white">

	 
		<!--  <form ng-submit="vm.addPost()">
			<div class="grid" >
				<lx-text-field label="Nombre" fixed-label="true" icon="account">
                	<input type="text" ng-model="vm.newPost.name">
            	</lx-text-field>			
				
				
				<lx-text-field label="Titulo" fixed-label="true" icon="emoticon-poop">
                	<input type="text" ng-model="vm.newPost.title">
            	</lx-text-field>
				
				<lx-text-field label="Texto"> 
					<input type="text" ng-model="vm.newPost.text"> 
				</lx-text-field>
			</div>
			
			<button type="submit" class="btn btn--l btn--blue btn--raised mt++ ml++" lx-ripple><i class="mdi mdi-email mr+"></i>Enviar</button>
			<button type="button" ng-click="vm.notify('simple')">Prueba</button>
		</form>-->
	<!-- 
		<br>
		<h3>--------------------------------------------------------------</h3>
		<p ng-repeat="cinema in vm.cinemas">
			<br><span> Nombre cine: {{cinema.name}} </span><br>
				
		</p>	
		
		
		<p ng-repeat="movie in vm.movies">
			<br><span> Nombre: {{movie.title}} </span><br>
			<br><span> Director: {{movie.director}} </span><br>		
				
		</p>	
		<button type="button" ng-click="vm.meterpeli()">Prueba</button>
</div> 	 -->	
</body>
</html>