#welcomeCard{
	margin : auto;
	margin-top : 30px;
	min-width : 50%;
	max-width : 50%;
}

#imageCinema{
	width : 100%;
}

#identification{
	width : 100%;
	
}

#cardIdentity{
	margin : auto;
	margin-top : 20px;
	margin-left : 20px;
	min-width : 30%;
	max-width : 30%;
	height : 50px;
	
	
}

.fotoPersonal{
	border-radius : 50%;
}

.fotoPersonal:hover{
	-webkit-transform: scale(1.5);
	-webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5);
    
}

.texto{
	padding-left : 4%;
}

.textete{
	padding-left : 10%;
	
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ; 
}
.textete2{
	padding-left : 20%;
		-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ;
}
.textete3{
	padding-left : 30%;
		-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ;
}
.textete4{
	padding-left : 40%;
		-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ;
}

.cartitas{
	width : 100%;
	height : 50%;
}

.photocartitas{
	width : 30%;
	height : 100%;
}


.cards{
	height : 18em;;
	width : 24.7%;
	display : inline-block;
	float : left;
	margin : 2px;
	
}

.photocard{
	height : 100%;
	width :50%;
	margin : 0;
	padding-left : 10%;
	padding-right: 10%;
}

.panelSeccion{
	/*background-color: rgba(0, 0, 0, 0.11) !important;
	background-blend-mode: multiply;*/
  	
}
.panelSeccion:hover{
	background-color: grey !important;
    transition: background-color .25s;
	background-blend-mode:hard-light;    
}

.botonCategoria{
	background-color:orange;
	-webkit-box-shadow: inset 0px 1px 16px -3px rgba(0,0,0,0.31);
	-moz-box-shadow: inset 0px 1px 16px -3px rgba(0,0,0,0.31);
	box-shadow: inset 0px 1px 16px -3px rgba(0,0,0,0.31);	
	text-shadow:  1px 1px 1px #FFF;
	border:1px solid #b46800;
	border-radius:0px !important;
}

.botonCategoria:hover{
	background-color:#ffbe48;	
	text-shadow:  1px 1px 1px #FFF;	
	border:1px solid #b46800;
	border-radius:0px !important;
}
.botonCategoria:active{
	background-color:#ba7900;	
	color:white;
	text-shadow:  1px 1px 1px #000;	
}

.orden{
	color:#3e3e3e;
	-webkit-transition:all 0.1s ;
	-moz-transition:all 0.1s ;
	-o-transition:all 0.1s ;
	transition:all 0.1s ; 
}
.orden:hover{
	color:white;
	text-shadow: -1px -1px 0.5px grey, 1px 1px 0.5px grey, -1px 1px 0.5px grey, 1px -1px 0.5px grey;	
}

.sobreIcono{	
	-webkit-transition:all 0.1s ;
	-moz-transition:all 0.1s ;
	-o-transition:all 0.1s ;
	transition:all 0.1s ; 
}
.sobreIcono:hover{
	color:yellow;
	text-shadow: -1px -2px 1px black, 1px 2px 1px black, -1px 2px 1px black, 1px -2px 1px black;	
}

.sobreIconoRojo{	
	-webkit-transition:all 0.1s ;
	-moz-transition:all 0.1s ;
	-o-transition:all 0.1s ;
	transition:all 0.1s ; 
}
.sobreIconoRojo:hover{
	color:red;
	text-shadow: -1px -2px 1px black, 1px 2px 1px black, -1px 2px 1px black, 1px -2px 1px black;	
}


.botonLogin{
	font-weight:bold;
	-webkit-transition:all 0.1s ;
	-moz-transition:all 0.1s ;
	-o-transition:all 0.1s ;
	transition:all 0.1s ; 
}

.botonLogin:hover{
	text-shadow: -1px -1px 1px black;
	color:#ffd474;
	}
	
.tituloTablaAdmin{	
	font-weight:bold;
	text-align:center;
	text-shadow: -1px -2px 1px black, 1px 2px 1px black, -1px 2px 1px black, 1px -2px 1px black;
	color:yellow;
}
.fondoTablaAdmin{
	background-color:#4d7cc4;	
}

.barraMostrando{
	background-color:white-silver;
	font-weight:bold;
	color:white;
	text-shadow: -1px -2px 1px black, 1px 2px 1px black, -1px 2px 1px black, 1px -2px 1px black;
	padding:5px;
	border-bottom:1px solid black;
}
.barraMostrando span{
	color:#d7d7d7;
}

.botonAniadir{
	background-color:#f3e370;
	-webkit-transition:all 0.1s ;
	-moz-transition:all 0.1s ;
	-o-transition:all 0.1s ;
	transition:all 0.1s ; 
}
.botonAniadir:hover{
	background-color:#e7fa01;
	color:#474747;
}

.bVerde{
	background-color:#95c602;
	font-weight:bold;
}

.bVerde:hover{
	background-color:#7ba402;
}

.bRojo{
	background-color:#ff3e3e;
	font-weight:bold;
}

.bRojo:hover{
	background-color:#a60000;
}

.textete:hover{
	
	background-color:rgba(147, 147, 147, 0.19);
}
.textete:hover .fotoPersonal{
	-webkit-transform: scale(1.5);
	-webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5);    
}

.textete2:hover{
	background-color:rgba(109, 151, 159, 0.18);
}

.textete2:hover .fotoPersonal{
	-webkit-transform: scale(1.5);
	-webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5);    
}


.textete3:hover{
	background-color:rgba(55, 137, 152, 0.18);
}

.textete3:hover .fotoPersonal{
	-webkit-transform: scale(1.5);
	-webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5);    
}

.textete4:hover{
	background-color:rgba(33, 172, 198, 0.18);
}

.textete4:hover .fotoPersonal{
	-webkit-transform: scale(1.5);
	-webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    transform: scale(1.5);    
}

.footer{
	background: #f9f8ba;
  min-height: 5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
